################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/RebtelTest/.vs/RebtelTest/v16/.suo
/RebtelTest/RebtelTest.Data/bin/Debug/net5.0
/RebtelTest/RebtelTest.Data/obj
/RebtelTest/RebtelTest.Service/bin/Debug/net5.0
/RebtelTest/RebtelTest.Service/obj
/RebtelTest/RebtelTest.Web/obj
/RebtelTest/RebtelTest.Web/bin/Debug/net5.0
